<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="background-color:black ;">
  <div style="text-align: center;justify-self: center;
  width:400px;height:530px;border:1px solid #088eee ;background-color: #E3F2FD;
  box-shadow: 0 4px 12px rgba(102, 166, 198, 0.15); border-radius: 10px;">
    <img style="width:150px;height:150px;border-radius: 50%;border:1px solid #088eee " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4ltCzb6-eUXlkZhqOW3_AFVmJ3A_xZvpHSLGxLIwZ-A&s=10" alt="">
    <div>
      <h3>Name:Satya</h3>
      <h3>UserName:@satya123</h3>
      <P><b>BIO:</b>Quiet by nature, thoughtful by heart. I value genuine people, meaningful conversations, and peaceful moments.</P>
      <h3>Location:📍Hyderabad</h3>
      <h3>Friends:670</h3>
      <h3>Followers:1.7k</h3>
      <button style="width:100px;height:40px;border:1px solid #088eee ;border-radius:8px;padding:3px;margin-right:10px;">Add Friends</button><button style="width:100px;height:40px;border:1px solid #088eee ;border-radius:8px;padding:3px;">Message</button>
    </div>
  </div>
</body>
</html>